*{
    margin: 0px;
    padding: 0px;
}
header{
    background-color: beige;
    display: flex;
    justify-content: space-between;
    padding:30px 40px;
}

.outerDiv{
    width: 350px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}